# Environment Variables
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/capstonedb?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Authentication
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Mail
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=test
MAIL_PASS=test
MAIL_FROM=noreply@capstone.com
